<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>ОПД</title>
</head>
  <link rel="stylesheet" type="text/css" href="/static/style/header.css">
 <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<link rel="stylesheet" href="/static/style/null.css">
 <link rel="shortcut icon" href="/img/logo.png">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
<body>
  <div class="preloader">
  <link rel="stylesheet" href="/static/style/preloader.css">
  <script src="/static/components/preloader.js"></script>
  <div class="preloader__row">
    <div class="preloader__item"></div>
    <div class="preloader__item"></div>
  </div>
 </div>
   <v-app class="wrapper" id="app">
      <header1></header1>
      
      
      
         <main>
          <a class="navBtn"  @click="toTop">
         <div class="navBtn__ico">&#8657;</div>
         <div class="navBtn__text">Вверх</div>
        </a>
            <div class="toolbox" name="top">
              <div class="toolbox__search">
                 <input type="text" name="" placeholder="Поиск">
                 <div class="toolbox_searchIco"><img src="/static/img/loop.png" alt=""></div>
              </div>
              <div class="toolbox__box">
                  <!--<div class="toolbox__item">
                   <a class="toolbox__lable" @click="hide_filter == true ? false: true">Скрыть фильтр</a>
                </div>-->
              
                <div class="toolbox__item">
                    <a class="toolbox__lable" href="/static/create_adc/">Добавть АЦП</a>
                </div>
              </div>
              
         </div>
         <div class="content">
            <div class="filterbar" v-if='hide_filter'>
               <header>
                  <a class="filterbar__lable" @click='FilterReload()'>Сбросить фильтр</a>
                  <a class="filterbar__lable" @click='FilterSearch()'>Применть</a>
               </header>
               <div class="filterbar__content">
                  <div class="filterbar__item" v-for='(item,id) in params'>
                     <div class="filterbar__header">
                        <v-checkbox
                            :input-value="item.check"
                            v-model='item.check'
                            value
                          ></v-checkbox>
                        <div class="filterbar__title">{{item.title}}</div>
                        <div class="filterbar__arrow"  @click="Hiden(item.name,'filter1',params)">&#9660;</div>
                     </div>
                     <div class="filterbar__body" :id="'filter1'+item.name"> 
                       <template>
                                 <v-range-slider
                                   v-model="item.range"
                                   :max="item.max"
                                   :min="item.min"
                                   :step="0.00001"
                                   hide-details
                                   class="align-center"
                                   @change="FilterSearch(id)"
                                 >
                                   <template v-slot:prepend>
                                      <div class="filter_bound upper">>></div> 
                                     <v-text-field
                                       :value="item.range[0]"
                                       class="mt-0 pt-0"
                                       hide-details
                                       single-line
                                       type="number"
                                       style="width: 3vw"
                                       @change="$set(item.range, 0, $event)"
                                     ></v-text-field>
                                   </template>
                                   <template v-slot:append>
                                      <div class="filter_bound bottom "><<</div>      
                                     <v-text-field
                                       :value="item.range[1]"
                                       class="mt-0 pt-0"
                                       hide-details
                                       single-line
                                       type="number"
                                       style="width: 3vw"
                                       @change="$set(item.range, 1, $event)"
                                     ></v-text-field>
                                   </template>
                                 </v-range-slider>
                       </template>
              
                        <div class="filterbar__output">
                           <div class="filterbar__count">{{new_ADCs.length}}</div>
                        </div>
                     </div>
                </div>
                  <div class="filterbar__item" v-for='(item,num) in paramsSelect'>
                     <div class="filterbar__header">
                        <v-checkbox
                            :input-value="item.check"
                            v-model='item.check'
                            value
                          ></v-checkbox>
                        <div class="filterbar__title">{{item.title}}</div>
                        <div class="filterbar__arrow"  @click="Hiden(item.name, 'filter2',paramsSelect)">&#9660;</div>
                     </div>
                      <div class="filterbar__body":id="'filter2'+item.name">
                       <template>
                          <v-container fluid>
                            <v-checkbox v-for="el,id in item.values"
                              v-model="item.selected"
                              :label="el"
                              :value="id+1"
                             @click="CheckOn(num)"
                            ></v-checkbox>
                          </v-container>
                        </template>
                        <div class="filterbar__output">
                           <div class="filterbar__count">{{new_ADCs.length}}</div>
                        </div>
                     </div>
                  </div>
              </div>
            </div>
            <div class="list">
               <header>
                <!--  <div class="list__lable">Страницы: </div>
                  <div class="list__nav"><u> Первая</u> ... <a>2</a> <a>3</a> <a>4</a> ... <u>Последняя</u></div>
               --></header>
               <div class="list__content">
                  <div class="list__item" v-for="item,id in ARCs">
                     <div class="list__img">
                      <img :src="src+'/img/photo.jpg'" alt="img" v-if="item.image == null">
                      <img :src="'https://adc.newpage.xyz/file/image/'+item.image" alt="img" v-else>
                    </div>
                     
                     <div class="list__body">
                        <div class="list__title">{{item.model}}</div>
                        <div class="list__subtitle">{{item.arch}}</div>
                        <div class="list__text">{{item.resolution}}-bit {{item.channels}}r-sb {{item.max_sample_rate}}-ch {{item.interface}} , {{item.max_INL}}</div>
                     </div>
                     <!--Правая часть item-->
                     <div class="list__btns">
                        <div class="list__info" >
                            <div class="item__edit" @click='GoToEdit(id)' v-if="token!= '' & token != 'empty'">
                              <img src="/static/img/edit.png" alt="edit item">
                            </div>
                            <div class="item__del" @click='toDel(id)' v-if="token!= '' & token != 'empty'">
                              <img src="/static/img/del.png" alt="dell item">
                            </div>
                              <div class="list__lable">Техническое описание</div>
                           <div class="list__pdf" @click="OpenTech(id)">
                            <img :src="src+'/img/logo.png'" alt="pdf" v-if='item.tech != null'>
                            <!-- Здесь может быть изображение грустного файлика(отсутствующего-->
                          </div>
                        </div>
                        <div class="list__btn">
                           <a @click='GoToInfo(id)'>Подробнее > </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
       </div>
         </main>
      

   </v-app>
</body>
  <link rel="stylesheet" type="text/css" href="/static/style/header.css">

 <link rel="stylesheet" type="text/css" href="/static/style/index.css">
<script src="/static/components/header1.js"></script>

<script type="text/javascript" src="/static/main/index.js"></script>

</html>