<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>ОПД</title>
</head>
 <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
<link rel="stylesheet" href="/static/style/null.css">
 <link rel="shortcut icon" :href="src+'/img/logo.png'">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap" rel="stylesheet">
<body>
   <v-app class="wrapper" id="app">
      <a class="navBtn">
         <div class="navBtn__ico">&#8657;</div>
         <div class="navBtn__text">Вверх</div>
      </a>
      <header class="header">
         <div class="header__title">Открытая база аналого-цифровых преобразователей</div>
         <div class="header__items">
            <div class="header__lable"><a href="">Список</a></div>
            <div class="header__lable"><a href="">Авторизация</a></div>
         </div>
      </header>
      
         <main>
         <div class="toolbox">
            
               <div class="toolbox__search">
                  <input type="text" name="" placeholder="Поиск">
                  <div class="toolbox_searchIco">🔎</div>
               </div>
            
            <div class="toolbox__item">
               <a class="toolbox__lable">Скрыть фильтр</a>
            </div>
            <div class="toolbox__item">
               <a class="toolbox__lable">Сортировать по: &nbsp;</a>
               <a class="toolbox__lable"> Названию </a>  
              <!-- <v-seclect>
                  <option>название</option>
                  <option>название</option>
                  <option>название</option>
               </v-seclect> -->
            </div>
            <div class="toolbox__item">
                <a class="toolbox__lable">Сохранить в Excel</a>
            </div>
         </div>
         <div class="content">
            <div class="filterbar">
               <header>
                  <a class="filterbar__lable">Сбросить фильтр</a>
                  <a class="filterbar__lable">Применть</a>
               </header>
               <div class="filterbar__content">
                  <div class="filterbar__item">
                     <div class="filterbar__header">
                        <v-checkbox
                            input-value="true"
                            value
                          ></v-checkbox>
                        <div class="filterbar__title">Разрешение (bits)</div>
                        <div class="filterbar__arrow">&#9660;</div>
                     </div>
                     <div class="filterbar__body">
                     <template>
                               <v-range-slider
                                 v-model="range"
                                 :max="max"
                                 :min="min"
                                 hide-details
                                 class="align-center"
                               >
                                 <template v-slot:prepend>
                                    <div class="filter_bound upper">>></div> 
                                   <v-text-field
                                     :value="range[0]"
                                     class="mt-0 pt-0"
                                     hide-details
                                     single-line
                                     type="number"
                                     style="width: 3vw"
                                     @change="$set(range, 0, $event)"
                                   ></v-text-field>
                                 </template>
                                 <template v-slot:append>
                                    <div class="filter_bound bottom "><<</div>      
                                   <v-text-field
                                     :value="range[1]"
                                     class="mt-0 pt-0"
                                     hide-details
                                     single-line
                                     type="number"
                                     style="width: 3vw"
                                     @change="$set(range, 1, $event)"
                                   ></v-text-field>
                                 </template>
                               </v-range-slider>
                     </template>
              
                        <div class="filterbar__output">
                           <div class="filterbar__count">94 шт</div>
                        </div>
                     </div>
                  </div>
                  <div class="filterbar__item">
                     <div class="filterbar__header">
                        <v-checkbox
                            input-value="true"
                            value
                          ></v-checkbox>
                        <div class="filterbar__title">Разрешение (bits)</div>
                        <div class="filterbar__arrow">&#9660;</div>
                     </div>
                     <div class="filterbar__body">
                     <template>
                               <v-range-slider
                                 v-model="range"
                                 :max="max"
                                 :min="min"
                                 hide-details
                                 class="align-center"
                               >
                                 <template v-slot:prepend>
                                    <div class="filter_bound upper">>></div> 
                                   <v-text-field
                                     :value="range[0]"
                                     class="mt-0 pt-0"
                                     hide-details
                                     single-line
                                     type="number"
                                     style="width: 3vw"
                                     @change="$set(range, 0, $event)"
                                   ></v-text-field>
                                 </template>
                                 <template v-slot:append>
                                    <div class="filter_bound bottom "><<</div>      
                                   <v-text-field
                                     :value="range[1]"
                                     class="mt-0 pt-0"
                                     hide-details
                                     single-line
                                     type="number"
                                     style="width: 3vw"
                                     @change="$set(range, 1, $event)"
                                   ></v-text-field>
                                 </template>
                               </v-range-slider>
                     </template>
              
                        <div class="filterbar__output">
                           <div class="filterbar__count">94 шт</div>
                        </div>
                     </div>
                  </div>
                  <div class="filterbar__item">
                     <div class="filterbar__header">
                        <v-checkbox
                            input-value="true"
                            value
                          ></v-checkbox>
                        <div class="filterbar__title">Разрешение (bits)</div>
                        <div class="filterbar__arrow">&#9660;</div>
                     </div>
                     <div class="filterbar__body">
                     <template>
                               <v-range-slider
                                 v-model="range"
                                 :max="max"
                                 :min="min"
                                 hide-details
                                 class="align-center"
                               >
                                 <template v-slot:prepend>
                                    <div class="filter_bound upper">>></div> 
                                   <v-text-field
                                     :value="range[0]"
                                     class="mt-0 pt-0"
                                     hide-details
                                     single-line
                                     type="number"
                                     style="width: 3vw"
                                     @change="$set(range, 0, $event)"
                                   ></v-text-field>
                                 </template>
                                 <template v-slot:append>
                                    <div class="filter_bound bottom "><<</div>      
                                   <v-text-field
                                     :value="range[1]"
                                     class="mt-0 pt-0"
                                     hide-details
                                     single-line
                                     type="number"
                                     style="width: 3vw"
                                     @change="$set(range, 1, $event)"
                                   ></v-text-field>
                                 </template>
                               </v-range-slider>
                     </template>
              
                        <div class="filterbar__output">
                           <div class="filterbar__count">94 шт</div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <div class="list">
               <header>
                  <div class="list__lable">Страницы: </div>
                  <div class="list__nav"><u> Первая</u> ... <a>2</a> <a>3</a> <a>4</a> ... <u>Последняя</u></div>
               </header>
               <div class="list__content">
                  <div class="list__item">
                     <div class="list__img"><img :src="src+'/img/logo.png'" alt="img"></div>
                     <div class="list__body">
                        <div class="list__title">ADS8167</div>
                        <div class="list__subtitle">Прицизионный</div>
                        <div class="list__text">16-bit 500r-sb 8-ch FFKS c VREFF Vreef буфер прямого инфрерсей</div>
                     </div>
                     <!--Правая часть item-->
                     <div class="list__btns">
                        <div class="list__info">
                              <div class="list__lable">Техническое описание</div>
                           <div class="list__pdf"><img :src="src+'/img/logo.png'" alt="pdf"></div>
                        </div>
                        <div class="list__btn">
                           <a href="">Подробнее > </a>
                        </div>
                     </div>
                  </div>
                  <div class="list__item">
                     <div class="list__img"><img :src="src+'/img/logo.png'" alt="img"></div>
                     <div class="list__body">
                        <div class="list__title">ADS8167</div>
                        <div class="list__subtitle">Прицизионный</div>
                        <div class="list__text">16-bit 500r-sb 8-ch FFKS c VREFF Vreef буфер прямого инфрерсей</div>
                     </div>
                     <!--Правая часть item-->
                     <div class="list__btns">
                        <div class="list__info">
                              <div class="list__lable">Техническое описание</div>
                           <div class="list__pdf"><img :src="src+'/img/logo.png'" alt="pdf"></div>
                        </div>
                        <div class="list__btn">
                           <a href="">Подробнее > </a>
                        </div>
                     </div>
                  </div>
                  <div class="list__item">
                     <div class="list__img"><img :src="src+'/img/logo.png'" alt="img"></div>
                     <div class="list__body">
                        <div class="list__title">ADS8167</div>
                        <div class="list__subtitle">Прицизионный</div>
                        <div class="list__text">16-bit 500r-sb 8-ch FFKS c VREFF Vreef буфер прямого инфрерсей</div>
                     </div>
                     <!--Правая часть item-->
                     <div class="list__btns">
                        <div class="list__info">
                              <div class="list__lable">Техническое описание</div>
                           <div class="list__pdf"><img :src="src+'/img/logo.png'" alt="pdf"></div>
                        </div>
                        <div class="list__btn">
                           <a href="">Подробнее > </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         </main>
      

   </v-app>
</body>
 <link rel="stylesheet" type="text/css" :href="src+'/style/index.css'">

<script type="text/javascript" :src="src+'/main/index.js'"></script>

</html>