body{
   font-family: 'RocknRoll', sans-serif;
}
.wrapper {
   position: relative;
   display: flex;
   flex-direction: column;

}
.v-application a{
   color: #382d89;
}

.header {
   background-color: #2d3074;

   flex: 0 0 10vh;
  // width: 100vw;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 1.7vw;
   padding-left: 2.5vw;


   color: #fff;
   font-size: 2.6vh;
   font-weight: 600;
}
.header__title {
   cursor: pointer;
}
.header__items {
   padding-right: 1.5vw;
   display: flex;
   gap: 3.2vw;
   justify-content: space-around;
   align-items: center;
   color: #fff;

}
.header__lable {
   color: #fff;
   & a{
      color: #fff;
   }
}
