
.theme--light.v-application{
	background: inherit;
}
.auth-card {
	overflow: hidden;
	display: flex;
	justify-content: center;
	padding-top: 6.5vh;
	height: 100%;
	width: 100vw;
	font-family: 'Roboto', sans-serif;
background-size: cover;
}
.card {
	width: 37.6vw;
	height: 53vh;
	display: flex;
	flex-direction: column;
	background-color: #fff;
	-webkit-box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.60);
	box-shadow: 0 0 50px 5px rgba(0, 0, 0, 0.60);
}
.card__logo{
	
	
	height:7.5vh;
	
	display: flex;
	
	align-items: center;
	color: #110568;
	background-color: #fff;
		position: relative;
}


.card__title {
	height: 100%;
	width: 12.7vw;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
	font-size: 2.8vh;
	
	background-color: #e7efff;


}
.card__title:before{
 		content: "";
 		top: 0;
 		left: 0;
 		position: absolute;
 		display: block;
 		width: 12.7vw;
 		height: 0.5vh;
 		background: #031d5f;
 		z-index: 999;

	}
	.card{
		box-shadow: 0 0px 0px 0px rgba(0,0,0,0.5);
	}
	.card__block{
				height: 12.5vh;
		display: flex;
		justify-content: center;
		align-items: flex-end;
	}
	.card__subtitle{
		width: 25vw;
		display: flex;
		justify-content: center;
		text-align: center;
		font-size:2.15vh
	}
.card__main {
	

	width: 100%;
	height: 100%;
	
	display: flex;
	align-items: center;
	flex-direction: column;
	box-shadow: inset 0px 0px 0.5vh rgba(0,0,0,0.5);
}
.card__inputs{
	width: 90%;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 2vh	;
	align-items: center;
}
.change__password{
	flex: 0 0 30px;
}
.change__password {
	color: #fff;
	color: #14a3ff;
	font-size: 1.5em;
}
.card__futter {
	flex: 0 0 10vh;
	display: flex;
	justify-content: center;
	gap: 1vw;
}
.card__futter:first-child{
	background-color: #cccbcc;
}
