main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 0 2.8vw; }

.toolbox {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 9vh;
  flex: 0 0 9vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  gap: 3.1vw;
  border-bottom: 0.1vh solid rgba(0, 0, 0, 0.5); }

.toolbox__item {
  color: #534999;
  font-size: 2.5vh;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.toolbox__search {
  position: relative;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  border: 0.3vh solid rgba(0, 0, 0, 0.5);
  height: 7vh;
  border-radius: 1vh;
  width: 100%; }
  .toolbox__search input {
    width: 100%;
    height: 100%;
    font-size: 3vh;
    padding-left: 1.8vh; }

.toolbox_searchIco {
  position: absolute;
  right: 1.5vh;
  top: 1.5vh;
  font-size: 3vh;
  height: 3.5vh;
  width: 3.5vh; }
  .toolbox_searchIco img {
    width: 100%;
    height: 100%; }

.toolbox__lable {
  white-space: nowrap;
  cursor: pointer; }
  .toolbox__lable a {
    color: #382d89; }

.content {
  max-height: 80vh;
  width: 76.1vw;
  margin: 0 auto; }

.panel__title {
  margin: 2.3vh 0;
  margin-left: 1.5vw;
  height: 5vh;
  font-size: 3.5vh;
  color: #000; }

.panel__name {
  color: #4b4194; }

.panel__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60vh; }

.v-sheet.v-card {
  border-radius: 0.5vh; }

.v-tabs-bar {
  height: 6vh; }

.v-slide-group__next, .v-slide-group__prev {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 5vw;
  flex: 0 1 5vw; }

.v-tabs-slider-wrapper {
  height: 0.2vh;
  width: 2vw; }

.v-tab {
  min-width: 5vw;
  max-width: 15vw;
  padding: 0 1vw;
  font-size: 1.5vh;
  letter-spacing: 0.05vw; }

.v-tabs-items {
  height: 50vh; }

.v-window-item--active {
  padding: 1vh 0;
  height: 100%; }

.v-data-table {
  border-radius: 0; }

.v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table--dense > .v-data-table__wrapper > table > tbody > tr > th, .v-data-table--dense > .v-data-table__wrapper > table > tfoot > tr > td, .v-data-table--dense > .v-data-table__wrapper > table > tfoot > tr > th, .v-data-table--dense > .v-data-table__wrapper > table > thead > tr > td, .v-data-table--dense > .v-data-table__wrapper > table > thead > tr > th {
  height: 4vh; }

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > td {
  font-size: 1.5vh; }

.v-data-table > .v-data-table__wrapper > table > tbody > tr > td, .v-data-table > .v-data-table__wrapper > table > tbody > tr > th, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > td, .v-data-table > .v-data-table__wrapper > table > tfoot > tr > th, .v-data-table > .v-data-table__wrapper > table > thead > tr > td, .v-data-table > .v-data-table__wrapper > table > thead > tr > th {
  padding: 0 1vw; }

.v-window-item--active {
  overflow: auto; }

.panel__slide {
  height: 60vh;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto; }

.panel__text {
  margin: 0 2vh 0 2vh;
  padding-right: 2vh;
  padding-bottom: 1.5vh;
  font-size: 2vh;
  border-bottom: rgba(0, 0, 0, 0.1) solid 0.05vh;
  max-height: 37vh;
  overflow: auto; }
  .panel__text::-webkit-scrollbar {
    background-color: rgba(0, 0, 0, 0.05);
    width: 10px;
    height: 10px; }
  .panel__text::-webkit-scrollbar-thumb {
    background-color: #0f1e81;
    border-radius: 30px; }

.panel__href {
  font-family: Roboto,sans-serif;
  margin: 1.3vh 2vh;
  font-size: 1.5vh;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: 0.05vw; }

.panel__file {
  margin: 1.3vh 2vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1vw;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.panel__ico {
  cursor: pointer;
  height: 3vh;
  width: 3vh; }
  .panel__ico img {
    width: 100%;
    height: 100%; }

.panel__filename {
  cursor: pointer;
  font-size: 1.3vh;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: 0.05vw; }
  .panel__filename:hover {
    text-decoration: underline; }

.panle__arch {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 38vw;
  flex: 0 0 38vw; }

.panel__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 3vh; }
  .panel__img img {
    width: 80%;
    height: 80%;
    -o-object-fit: contain;
    object-fit: contain; }

.panel_footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 3vw;
  color: #323e7d;
  font-size: 2vh;
  cursor: pointer; }

.panel_before:hover {
  text-decoration: underline; }

.panel__after:hover {
  text-decoration: underline; }
