.input__text1 {
	background-color: #fff;
	height: 4.5vh;
	display: flex;
	align-items: center;
	width: 70%;
	margin-bottom: 0px;
	border-radius: 0.5vh;
	border: rgba(0,0,0,0.5) solid 0.2vh;
	overflow: hidden;
	transition: box-shadow 0.5s ease 0s;

}
.input__text1 *{
	width: 80%;
	margin-left: 1vw;
	font-size: 2vh;
}
.input__text1:hover, .input__text1:active {
	-webkit-box-shadow: 0px 0px 52px 10px rgba(255, 255, 255, 0.3);
-moz-box-shadow: 0px 0px 52px 10px rgba(255, 255, 255, 0.3);
box-shadow: 0px 0px 52px 10px rgba(255, 255, 255, 0.3);
}
.card__text {}